body {
    background-color: lightblue;
}

h2 {
    color: navy;
    margin-left: 20px;
}
.sentence {
	text-align: float: right;
	border-style: solid;
	border-top-left-radius:3em;
	border-top-right-radius:3em;
	border-bottom-left-radius:3em;
	border-bottom-right-radius:3em;
	padding: 10px;
}
