body {
    background-color: lightblue;
}

h2 {
    color: navy;
    margin-left: 20px;
}
.sentence {
	text-align: float: left;
	border-style: solid;
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	border-bottom-left-radius:2em;
	border-bottom-right-radius:2em;
}
